table {
    width: 100%;
    border-collapse: collapse;
}
  
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

#movies {
    margin-top: 20px;
}

h1 {
    color: #333;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    color: #007BFF;

    &:hover {
        text-decoration: underline;
    }
}

.sort-indicator {
    margin-left: 5px;
    display: inline-block;
    width: 10px;
    height: 10px;
}

.sort-indicator.asc {
    border: solid green;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
}

.sort-indicator.desc {
    border: solid red;
    border-width: 2px 0 0 2px;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}
  